@import './utils/variables';
@import './utils/fonts';

@import './general/common';
@import './general/container';


@import './components/logo';
@import './components/header';
@import './components/hero';
@import './components/modal-hero';
@import './components/features';
@import './components/wedoing';
@import './components/team';
@import './components/client';
@import './components/portfolio';
@import './components/formFuter';
@import './components/footer';


