
/*features*/
.features {

  @media screen and (max-width:767px) {
    padding-top: 60px;
    padding-bottom:30px
  }
@media screen and( min-width:768px){
  padding-top: 60px;
  padding-bottom:60px
}
}

.features-link {

@media screen and(min-width:768px) {

display: flex;
flex-wrap: wrap;
margin: -15px;
& li{
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
 }
}

  .features-gray{
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F5F4FA;
      width: 100%;
      height: 120px;
      border-radius: 4px;
      margin-bottom: 30px;

}

h3{
  text-align:center;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: $primary-text-color;
  text-transform: uppercase;
  padding-bottom: 10px
}
p{

  font-weight: 400;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $second-text-color
}
}

.vektor {
  width: 70px;
  height: 70px;
}









