
/*форма в футере*/
.subscription {
  margin-left: auto;
  & input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & button {
    margin-left: 12px;
    position: relative;
    width: 200px;
    height: 50px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid $accent-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer
  }
}



.subm {
  padding: 10px 62px 10px 29px;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $first-color;
}

.iconsend {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: $first-color;
}
.footerForm {
  & input:hover {
    border: 1px solid $accent-color;

  }

  & button:hover {
    background: #188CE8
  }

  & input {
    color: $first-color
  }
}
