/*header*/
.header {
    border-bottom: 1px solid #ECECEC;

    &-container {
        display: flex;
        align-items: center;
    }
}



.main-nav {
    display: flex;
    align-items: center;
}

.nav-list,
.nav-contacts {
    display: flex;
    margin-left: auto;
}


.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
   &-mail {
        width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: currentColor
    }

    &-phone {
        width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor
    }
}


.nav-list{
    .link{
        color: $primary-text-color;
       
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .item:nth-child(-n+2) {
        margin-right: 50px
    }

    .link.current::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        bottom: -1px;
        border-radius: 2px;
        background-color: #188CE8;
    }
    .link:hover, .link:focus, .link.current {
    color: $accent-color;
}
}



.nav-contacts {
    .item:first-child {
        margin-right: 50px;
    }
    .link {
        color:$second-text-color;

        display: flex;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .link:focus,  .link:hover {
    color: $accent-color
}
}







