/*страница portfolio*/
.logo-first {
  text-shadow: none
}
.portfolio{

  padding-top: 85px;
  padding-bottom: 94px;
}
/*filters*/
.filters {
padding-top: 60px;
    display: flex;

@media screen and (max-width:767px) {
  flex-wrap: wrap;

  padding-bottom: 40px;
  & li:nth-last-child(-n + 2){
  padding-top:15px ;
}
}
@media screen and (min-width:768px){
  padding-bottom: 30px;
justify-content: center;
}
  .button-link {
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
  }
  & button {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F4FA;
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    font-weight: 500;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}

.filters{
  & li:not(:last-child) {
    margin-right: 8px;
  }

  & button:hover,
  & button:focus {
    background: $accent-color;
    color: $first-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}






/*projects*/


.portfolio {

  .projects {

  margin-left: auto;
  margin-right: auto;
@media screen and (min-width:768px) {
display: flex;
flex-wrap: wrap;
margin: -15px;
.flex-element{
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}
}
@media screen and (min-width:1200px) {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  .flex-element{
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
  }
  }
  .project-item {
    display: block;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;

      padding: 20px 24px;


  }
}




.project-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay,
    &:active .overlay,
    &:focus .overlay {
      transform: translateY(0);
      pointer-events: initial;
    }


}




.project-img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.overlay {
  pointer-events: none;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & p {
    font-size: 18px;
    line-height: 1.6;
    color: $first-color;
    letter-spacing: 0.03em;
    padding: 64px 23px;
  }
}




.flex-element {
  @media screen and (max-width:767px){
  &:not(:first-child){
    padding-top:30px
  }

  width: 100%;
}
  & a,
  & a img {
    display: block
  }

}


.project-item{
  & h3 {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    color:$primary-text-color;
  }

  & p {
    font-size: 16px;
    line-height: 1.9;
    color: $second-text-color;
  }
}
@media screen and (min-width:1200px){
  .footer-container{
    display: flex;
  }

}
